Repository Jonathannsegal/GridAI: changes, and which GitLab CI jobs are due for each by the changed paths.
All: build:next, mypy:api, mypy:influx, mypy:neo4j, mypy:anomaly, mypy:assistant, mypy:prediction, flake8:api, flake8:influx, flake8:neo4j, flake8:anomaly, flake8:assistant, flake8:prediction, eslint:next, pylint:api, pylint:influx, pylint:neo4j, pylint:anomaly, pylint:assistant, pylint:prediction, isort:api, isort:influx, isort:neo4j, isort:anomaly, isort:assistant, isort:prediction, safety, test:next, test:api, test:influx, test:neo4j, test:anomaly, test:assistant, test:prediction, deploy:next, deploy:api, deploy:influx, deploy:neo4j, deploy:anomaly, deploy:assistant, deploy:prediction

Path conditions:
  build:next: any of: frontend/**/*
  mypy:api: any of: api/**/*
  mypy:influx: any of: data/influx/**/*
  mypy:neo4j: any of: data/neo4j/**/*
  mypy:anomaly: any of: ml/anomaly/**/*
  mypy:assistant: any of: ml/assistant/**/*
  mypy:prediction: any of: ml/prediction/**/*
  flake8:api: any of: api/**/*
  flake8:influx: any of: data/influx/**/*
  flake8:neo4j: any of: data/neo4j/**/*
  flake8:anomaly: any of: ml/anomaly/**/*
  flake8:assistant: any of: ml/assistant/**/*
  flake8:prediction: any of: ml/prediction/**/*
  eslint:next: any of: frontend/**/*
  pylint:api: any of: api/**/*
  pylint:influx: any of: data/influx/**/*
  pylint:neo4j: any of: data/neo4j/**/*
  pylint:anomaly: any of: ml/anomaly/**/*
  pylint:assistant: any of: ml/assistant/**/*
  pylint:prediction: any of: ml/prediction/**/*
  isort:api: any of: api/**/*
  isort:influx: any of: data/influx/**/*
  isort:neo4j: any of: data/neo4j/**/*
  isort:anomaly: any of: ml/anomaly/**/*
  isort:assistant: any of: ml/assistant/**/*
  isort:prediction: any of: ml/prediction/**/*
  safety: any of: api/**/*, data/**/*, ml/**/*
  test:next: any of: frontend/**/*
  test:api: any of: api/**/*
  test:influx: any of: data/influx/**/*
  test:neo4j: any of: data/neo4j/**/*
  test:anomaly: any of: ml/anomaly/**/*
  test:assistant: any of: ml/assistant/**/*
  test:prediction: any of: ml/prediction/**/*
  deploy:next: any of: frontend/**/*
  deploy:api: any of: api/**/*
  deploy:influx: any of: data/influx/**/*
  deploy:neo4j: any of: data/neo4j/**/*
  deploy:anomaly: any of: ml/anomaly/**/*
  deploy:assistant: any of: ml/assistant/**/*
  deploy:prediction: any of: ml/prediction/**/*

Integrate Firebase into project #1
  frontend/lib/firebase.js
Due: build:next, eslint:next, test:next, deploy:next

Test Cloud Run
  .DS_Store
  .gitlab-ci.yml
  ml/anomaly/.dockerignore
  ml/anomaly/src/app.py
  ml/anomaly/src/requirements.txt
  ml/anomaly/src/test/eight.png
  ml/anomaly/src/test/load.py
  ml/anomaly/src/test/test.py
  ml/anomaly/src/test/three.png
  ml/anomaly/src/test/train.py
Due: mypy:anomaly, flake8:anomaly, pylint:anomaly, isort:anomaly, safety, test:anomaly, deploy:anomaly

lint fix
  ml/anomaly/src/app.py
Due: mypy:anomaly, flake8:anomaly, pylint:anomaly, isort:anomaly, safety, test:anomaly, deploy:anomaly

setup neo4j #61
  .gitlab-ci.yml
  data/neo4j/.coveragerc
  data/neo4j/.gitignore
  data/neo4j/src/app.py
  data/neo4j/src/requirements.txt
  data/neo4j/tests/test_neo4j.py
Due: mypy:neo4j, flake8:neo4j, pylint:neo4j, isort:neo4j, safety, test:neo4j, deploy:neo4j

add secret detection to ci
  .gitlab-ci.yml
  api/.coveragerc
  data/influx/.coveragerc
  ml/anomaly/.coveragerc
  ml/assistant/.coveragerc
  ml/prediction/.coveragerc
Due: mypy:api, mypy:influx, mypy:anomaly, mypy:assistant, mypy:prediction, flake8:api, flake8:influx, flake8:anomaly, flake8:assistant, flake8:prediction, pylint:api, pylint:influx, pylint:anomaly, pylint:assistant, pylint:prediction, isort:api, isort:influx, isort:anomaly, isort:assistant, isort:prediction, safety, test:api, test:influx, test:anomaly, test:assistant, test:prediction, deploy:api, deploy:influx, deploy:anomaly, deploy:assistant, deploy:prediction

add root
  data/neo4j/src/app.py
  data/neo4j/tests/test_neo4j.py
Due: mypy:neo4j, flake8:neo4j, pylint:neo4j, isort:neo4j, safety, test:neo4j, deploy:neo4j

61
  .gitlab-ci.yml
  data/neo4j/src/app.py
Due: mypy:neo4j, flake8:neo4j, pylint:neo4j, isort:neo4j, safety, test:neo4j, deploy:neo4j

Setup gitlab code coverage report
  .gitlab-ci.yml
  README.md
  api/src/app.py
  data/influx/src/app.py
  data/neo4j/README.md
  frontend/pages/index.js
  frontend/yarn.lock
  ml/anomaly/src/app.py
  ml/assistant/src/app.py
  ml/prediction/src/app.py
Due: build:next, mypy:api, mypy:influx, mypy:neo4j, mypy:anomaly, mypy:assistant, mypy:prediction, flake8:api, flake8:influx, flake8:neo4j, flake8:anomaly, flake8:assistant, flake8:prediction, eslint:next, pylint:api, pylint:influx, pylint:neo4j, pylint:anomaly, pylint:assistant, pylint:prediction, isort:api, isort:influx, isort:neo4j, isort:anomaly, isort:assistant, isort:prediction, safety, test:next, test:api, test:influx, test:neo4j, test:anomaly, test:assistant, test:prediction, deploy:next, deploy:api, deploy:influx, deploy:neo4j, deploy:anomaly, deploy:assistant, deploy:prediction

Delete .DS_Store
  .DS_Store
Due: none

Bare min test
  ml/anomaly/src/app.py
  ml/anomaly/src/test/train.py
Due: mypy:anomaly, flake8:anomaly, pylint:anomaly, isort:anomaly, safety, test:anomaly, deploy:anomaly

Working test
  ml/anomaly/tests/test_anomoly.py
Due: mypy:anomaly, flake8:anomaly, pylint:anomaly, isort:anomaly, safety, test:anomaly, deploy:anomaly

Tensorflow 2.8
  ml/anomaly/src/requirements.txt
Due: mypy:anomaly, flake8:anomaly, pylint:anomaly, isort:anomaly, safety, test:anomaly, deploy:anomaly

Numpy version change
  ml/anomaly/src/requirements.txt
Due: mypy:anomaly, flake8:anomaly, pylint:anomaly, isort:anomaly, safety, test:anomaly, deploy:anomaly

Port over previous year's code
  ml/anomaly/src/SPAnomaly/saved_model.pb
  ml/anomaly/src/SPAnomaly/variables/variables.data-00000-of-00001
  ml/anomaly/src/SPAnomaly/variables/variables.index
  ml/anomaly/src/SinglePhaseCTAnomaly/saved_model.pb
  ml/anomaly/src/SinglePhaseCTAnomaly/variables/variables.data-00000-of-00001
  ml/anomaly/src/SinglePhaseCTAnomaly/variables/variables.index
  ml/anomaly/src/ThreePhaseAnomaly/saved_model.pb
  ml/anomaly/src/ThreePhaseAnomaly/variables/variables.data-00000-of-00001
  ml/anomaly/src/ThreePhaseAnomaly/variables/variables.index
  ml/anomaly/src/app.py
Due: mypy:anomaly, flake8:anomaly, pylint:anomaly, isort:anomaly, safety, test:anomaly, deploy:anomaly

Add neo4j req
  ml/anomaly/src/requirements.txt
Due: mypy:anomaly, flake8:anomaly, pylint:anomaly, isort:anomaly, safety, test:anomaly, deploy:anomaly

Moved app initialization up
  ml/anomaly/src/app.py
  ml/anomaly/src/test/load.py
  ml/anomaly/src/test/test.py
Due: mypy:anomaly, flake8:anomaly, pylint:anomaly, isort:anomaly, safety, test:anomaly, deploy:anomaly

Set up Influx Scaffold #7
  .gitlab-ci.yml
  .vscode/settings.json
  data/influx/.gitignore
  data/influx/src/app.py
  data/influx/src/requirements.txt
  data/influx/tests/test_influx.py
Due: mypy:influx, flake8:influx, pylint:influx, isort:influx, safety, test:influx, deploy:influx

Set up Influx Scaffold #7
  data/influx/src/app.py
Due: mypy:influx, flake8:influx, pylint:influx, isort:influx, safety, test:influx, deploy:influx

Uploaded power grid data sets
  documentation/PowerGridDataSets/.gitkeep
  documentation/PowerGridDataSets/Load_profile_PYOMO_March15.dss
  documentation/PowerGridDataSets/Loads_PYOMO.dss
  documentation/PowerGridDataSets/Master_V6_March15.dss
  documentation/PowerGridDataSets/MonitorDefinitions.dss
  documentation/PowerGridDataSets/MonitorExport.dss
  documentation/PowerGridDataSets/PV_Profile_03155_updated.dss
  documentation/PowerGridDataSets/PVs_July15_basecase_15March.dss
  documentation/PowerGridDataSets/Vshape_PYOMO15March.dss
  documentation/PowerGridDataSets/buscoords.dss
  documentation/PowerGridDataSets/cablemodel.dss
  documentation/PowerGridDataSets/capacitors.dss
  documentation/PowerGridDataSets/linecodes.dss
  documentation/PowerGridDataSets/linegeometryover.dss
  documentation/PowerGridDataSets/linegeometryunder.dss
  documentation/PowerGridDataSets/linesover.dss
  documentation/PowerGridDataSets/linespacing.dss
  documentation/PowerGridDataSets/linesunder.dss
  documentation/PowerGridDataSets/loadprofile_primary.dss
  documentation/PowerGridDataSets/loads_primary.dss
  documentation/PowerGridDataSets/protection.dss
  documentation/PowerGridDataSets/pv_primary.dss
  documentation/PowerGridDataSets/switchcontrol.dss
  documentation/PowerGridDataSets/transformers.dss
  documentation/PowerGridDataSets/transformerscodes.dss
  documentation/PowerGridDataSets/wiredata.dss
Due: none

update ci names
  .gitlab-ci.yml
  assistant/.coveragerc
  assistant/.dockerignore
  assistant/.gitignore
  assistant/Dockerfile
  assistant/README.md
  assistant/__init__.py
  assistant/src/__init__.py
  assistant/src/app.py
  assistant/src/requirements.txt
  assistant/tests/__init__.py
  assistant/tests/test_assistant.py
Due: none

Set up GridAI Assistant endpoints (voice and text)
  ml/assistant/src/app.py
Due: mypy:assistant, flake8:assistant, pylint:assistant, isort:assistant, safety, test:assistant, deploy:assistant

Resolve "Basic Frontend End-to-End Setup"
  frontend/lib/calls.js
Due: build:next, eslint:next, test:next, deploy:next

change service names
  .gitlab-ci.yml
Due: none

Update index.js
  frontend/pages/index.js
Due: build:next, eslint:next, test:next, deploy:next

update env variables
  data/neo4j/src/app.py
Due: mypy:neo4j, flake8:neo4j, pylint:neo4j, isort:neo4j, safety, test:neo4j, deploy:neo4j

34: Implemented parser for text-to-query analysis.
  .pylintrc
  assistant/src/actions.json
  assistant/src/app.py
  assistant/src/assistant_service.py
  assistant/src/command_handler.py
  assistant/tests/test_assistant.py
  assistant/tests/test_assistant_service.py
  assistant/tests/test_command_handler.py
  ml/assistant/src/app.py
Due: mypy:assistant, flake8:assistant, pylint:assistant, isort:assistant, safety, test:assistant, deploy:assistant

6
  .gitlab-ci.yml
  frontend/.eslintrc.js
  frontend/components/Button.js
  frontend/components/Footer.js
  frontend/components/Map.js
  frontend/components/Navbar.js
  frontend/lib/calls.js
  frontend/lib/firebase.js
  frontend/package-lock.json
  frontend/package.json
  frontend/pages/[username]/index.js
  frontend/pages/[username]/test.js
  frontend/pages/_app.js
  frontend/pages/enter.js
  frontend/pages/index.js
  frontend/postcss.config.js
  frontend/styles/Admin.module.css
  frontend/styles/globals.css
  frontend/tailwind.config.js
  frontend/yarn.lock
Due: build:next, eslint:next, test:next, deploy:next

alisjd;alksjdbnlaskjd
  api/go.mod
  api/go.sum
  frontend/components/Button.js
  frontend/components/Map.js
  frontend/lib/calls.js
  frontend/lib/firebase.js
  frontend/package-lock.json
  frontend/package.json
  frontend/pages/[username]/index.js
  frontend/pages/[username]/test.js
  frontend/pages/enter.js
  frontend/pages/index.js
  frontend/yarn.lock
Due: build:next, mypy:api, flake8:api, eslint:next, pylint:api, isort:api, safety, test:next, test:api, deploy:next, deploy:api

66
  data/neo4j/src/app.py
  data/neo4j/tests/test_neo4j.py
Due: mypy:neo4j, flake8:neo4j, pylint:neo4j, isort:neo4j, safety, test:neo4j, deploy:neo4j

34: Fixed Dockerfile import paths
  assistant/Dockerfile
  data/influx/Dockerfile
  data/neo4j/Dockerfile
  ml/anomaly/Dockerfile
  ml/prediction/Dockerfile
Due: mypy:influx, mypy:neo4j, mypy:anomaly, mypy:prediction, flake8:influx, flake8:neo4j, flake8:anomaly, flake8:prediction, pylint:influx, pylint:neo4j, pylint:anomaly, pylint:prediction, isort:influx, isort:neo4j, isort:anomaly, isort:prediction, safety, test:influx, test:neo4j, test:anomaly, test:prediction, deploy:influx, deploy:neo4j, deploy:anomaly, deploy:prediction

67
  .gitlab-ci.yml
  data/influx/functions/helloworld/main.py
  data/influx/src/app.py
  data/influx/src/requirements.txt
  data/influx/tests/test_influx.py
Due: mypy:influx, flake8:influx, pylint:influx, isort:influx, safety, test:influx, deploy:influx

71 Fix influx request names
  data/influx/src/app.py
  data/influx/tests/test_influx.py
Due: mypy:influx, flake8:influx, pylint:influx, isort:influx, safety, test:influx, deploy:influx

update
  api/.gitignore
  api/go.mod
  api/go.sum
  api/main.go
Due: mypy:api, flake8:api, pylint:api, isort:api, safety, test:api, deploy:api

Resolve "Resolve Promises"
  .gitlab-ci.yml
  frontend/.gitignore
  frontend/components/Button.js
  frontend/components/HoverMap.js
  frontend/components/NodeList.js
  frontend/lib/calls.js
  frontend/lib/firebase.js
  frontend/package.json
  frontend/pages/[username]/index.js
  frontend/pages/[username]/test.js
  frontend/pages/enter.js
  frontend/pages/index.js
  frontend/postcss.config.js
Due: build:next, eslint:next, test:next, deploy:next

73
  .gitlab-ci.yml
  .pylintrc
  data/influx/src/app.py
  data/influx/src/requirements.txt
Due: mypy:influx, flake8:influx, pylint:influx, isort:influx, safety, test:influx, deploy:influx
