Repository Jonathannsegal/GridAI: changes, and which GitLab CI jobs are due for each by the changed paths.
All: build:next, mypy:api, mypy:influx, mypy:neo4j, mypy:anomaly, mypy:assistant, mypy:prediction, flake8:api, flake8:influx, flake8:neo4j, flake8:anomaly, flake8:assistant, flake8:prediction, eslint:next, pylint:api, pylint:influx, pylint:neo4j, pylint:anomaly, pylint:assistant, pylint:prediction, isort:api, isort:influx, isort:neo4j, isort:anomaly, isort:assistant, isort:prediction, safety, test:next, test:api, test:influx, test:neo4j, test:anomaly, test:assistant, test:prediction, deploy:next, deploy:api, deploy:influx, deploy:neo4j, deploy:anomaly, deploy:assistant, deploy:prediction

Path conditions:
  build:next: any of: frontend/**/*
  mypy:api: any of: api/**/*
  mypy:influx: any of: data/influx/**/*
  mypy:neo4j: any of: data/neo4j/**/*
  mypy:anomaly: any of: ml/anomaly/**/*
  mypy:assistant: any of: ml/assistant/**/*
  mypy:prediction: any of: ml/prediction/**/*
  flake8:api: any of: api/**/*
  flake8:influx: any of: data/influx/**/*
  flake8:neo4j: any of: data/neo4j/**/*
  flake8:anomaly: any of: ml/anomaly/**/*
  flake8:assistant: any of: ml/assistant/**/*
  flake8:prediction: any of: ml/prediction/**/*
  eslint:next: any of: frontend/**/*
  pylint:api: any of: api/**/*
  pylint:influx: any of: data/influx/**/*
  pylint:neo4j: any of: data/neo4j/**/*
  pylint:anomaly: any of: ml/anomaly/**/*
  pylint:assistant: any of: ml/assistant/**/*
  pylint:prediction: any of: ml/prediction/**/*
  isort:api: any of: api/**/*
  isort:influx: any of: data/influx/**/*
  isort:neo4j: any of: data/neo4j/**/*
  isort:anomaly: any of: ml/anomaly/**/*
  isort:assistant: any of: ml/assistant/**/*
  isort:prediction: any of: ml/prediction/**/*
  safety: any of: api/**/*, data/**/*, ml/**/*
  test:next: any of: frontend/**/*
  test:api: any of: api/**/*
  test:influx: any of: data/influx/**/*
  test:neo4j: any of: data/neo4j/**/*
  test:anomaly: any of: ml/anomaly/**/*
  test:assistant: any of: ml/assistant/**/*
  test:prediction: any of: ml/prediction/**/*
  deploy:next: any of: frontend/**/*
  deploy:api: any of: api/**/*
  deploy:influx: any of: data/influx/**/*
  deploy:neo4j: any of: data/neo4j/**/*
  deploy:anomaly: any of: ml/anomaly/**/*
  deploy:assistant: any of: ml/assistant/**/*
  deploy:prediction: any of: ml/prediction/**/*

Changed text request from form to json post data
  assistant/src/app.py
Due: none

34
  .gitlab-ci.yml
  .pylintrc
  assistant/Dockerfile
  assistant/actions_format.txt
  assistant/src/assistant_service.py
  assistant/src/create_actions_json.py
  assistant/src/custom_commands/actions/NumberOf.json
  assistant/src/custom_commands/actions/VoltageComparisonSpecific.json
  assistant/src/custom_commands/actions/VoltagePeakSpecific.json
  assistant/src/custom_commands/manifest.json
  assistant/src/custom_commands/stop_words.json
  assistant/src/custom_commands/types.json
Due: none

76
  data/influx/src/app.py
  data/influx/tests/test_influx.py
Due: mypy:influx, flake8:influx, pylint:influx, isort:influx, safety, test:influx, deploy:influx

77
  data/influx/src/app.py
Due: mypy:influx, flake8:influx, pylint:influx, isort:influx, safety, test:influx, deploy:influx

59
  .gitignore
  assistant/.gitignore
  assistant/client_secret/client_secret_672972911364-gdaunu2a47t0hmfbn11ec1rsumr1i05c.apps.googleusercontent.com.json
  assistant/client_secret/speechtotext-331119-820cdd23000d.json
  assistant/src/readme.md
  assistant/src/requirements.txt
  assistant/src/speech_to_text.py
  assistant/test_voice_files/house/0a7c2a8d_nohash_0.wav
  assistant/test_voice_files/house/0a9f9af7_nohash_0.wav
  assistant/test_voice_files/house/0ab3b47d_nohash_0.wav
  assistant/test_voice_files/house/0ac15fe9_nohash_0.wav
  assistant/test_voice_files/house/0ac15fe9_nohash_1.wav
  assistant/tests/test_assistant.py
Due: none

78
  assistant/Dockerfile
  assistant/src/app.py
  assistant/src/readme.md
  assistant/src/speech_to_text.py
  assistant/tests/test_assistant.py
Due: none

78-fix
  assistant/Dockerfile
Due: none

80
  data/influx/src/app.py
  data/influx/src/requirements.txt
  data/influx/tests/test_influx.py
Due: mypy:influx, flake8:influx, pylint:influx, isort:influx, safety, test:influx, deploy:influx

79
  assistant/Dockerfile
  assistant/src/app.py
  assistant/src/speech_to_text.py
  assistant/tests/test_assistant.py
Due: none

Command support
  .gitlab-ci.yml
  assistant/commands_to_support.txt
  assistant/src/actions.json
  assistant/src/app.py
  assistant/src/assistant_service.py
  assistant/src/command_handler.py
  assistant/src/custom_commands/actions/Comparison.json
  assistant/src/custom_commands/actions/Extrema.json
  assistant/src/custom_commands/actions/NumberOf.json
  assistant/src/custom_commands/actions/PeakSpecific.json
  assistant/src/custom_commands/actions/RateOfChange.json
  assistant/src/custom_commands/actions/VoltagePeakSpecific.json
  assistant/src/custom_commands/types.json
  assistant/src/requirements.txt
  assistant/tests/test_assistant_service.py
  assistant/tests/test_command_handler.py
  assistant/tests/test_create_actions_json.py
Due: none

Basic connection map complete
  frontend/components/ConnectionMap.js
  frontend/lib/calls.js
Due: build:next, eslint:next, test:next, deploy:next

82
  data/neo4j/src/app.py
Due: mypy:neo4j, flake8:neo4j, pylint:neo4j, isort:neo4j, safety, test:neo4j, deploy:neo4j

Assistantfrontend
  .gitlab-ci.yml
  frontend/components/voice.js
  frontend/pages/voice.js
  frontend/pages/voices.js
Due: build:next, eslint:next, test:next, deploy:next

Voice recording
  assistant/src/app.py
  assistant/src/readme.md
  assistant/src/speech_to_text.py
  assistant/test_voice_files/6107ef76-54ff-4e92-b8fb-1f3eb5fa6552.wav
Due: none

83
  data/influx/src/app.py
  data/influx/tests/test_influx.py
Due: mypy:influx, flake8:influx, pylint:influx, isort:influx, safety, test:influx, deploy:influx

Icons and connection on same map yayyy
  frontend/components/IconWithConnectionMap.js
  frontend/pages/index.js
Due: build:next, eslint:next, test:next, deploy:next

Modularized map with request in calls.js
  frontend/components/ConnectionMap.js
  frontend/components/HoverMap.js
  frontend/components/Map.js
  frontend/lib/calls.js
Due: build:next, eslint:next, test:next, deploy:next

Assistantfrontend
  frontend/lib/calls.js
Due: build:next, eslint:next, test:next, deploy:next

Api update
  api/main.go
  assistant/src/app.py
  ml/anomaly/src/app.py
  ml/prediction/src/app.py
Due: mypy:api, mypy:anomaly, mypy:prediction, flake8:api, flake8:anomaly, flake8:prediction, pylint:api, pylint:anomaly, pylint:prediction, isort:api, isort:anomaly, isort:prediction, safety, test:api, test:anomaly, test:prediction, deploy:api, deploy:anomaly, deploy:prediction

Hover, connections, and icon all on one map
  frontend/components/HoverMap.js
  frontend/components/IconWithConnectionMap.js
  frontend/lib/calls.js
Due: build:next, eslint:next, test:next, deploy:next

Api update
  api/main.go
Due: mypy:api, flake8:api, pylint:api, isort:api, safety, test:api, deploy:api

update
  assistant/src/custom_commands/actions/Extrema.json
  assistant/src/custom_commands/types.json
Due: none

Command support
  assistant/src/command_handler.py
  assistant/src/requirements.txt
  assistant/tests/test_assistant.py
  assistant/tests/test_assistant_service.py
  assistant/tests/test_command_handler.py
Due: none

Command support
  .gitignore
  assistant/src/actions.json
  assistant/src/custom_commands/types.json
  assistant/tests/test_assistant_service.py
Due: none

update
  assistant/src/actions.json
  assistant/src/assistant_service.py
  assistant/src/command_handler.py
  assistant/src/custom_commands/actions/Extrema.json
  assistant/src/custom_commands/types.json
Due: none

different color nodes
  frontend/lib/calls.js
Due: build:next, eslint:next, test:next, deploy:next

update
  assistant/src/assistant_service.py
Due: none

update
  assistant/src/actions.json
  assistant/src/assistant_service.py
  assistant/src/custom_commands/actions/Extrema.json
  assistant/src/custom_commands/types.json
Due: none

Hexagon map does number of buses
  frontend/components/HexagonMap.js
Due: build:next, eslint:next, test:next, deploy:next

Color palette and new hexagon page yaaas
  frontend/components/HexagonMap.js
  frontend/lib/calls.js
  frontend/pages/hexagon.js
Due: build:next, eslint:next, test:next, deploy:next

begin fixing lint issues
  frontend/lib/calls.js
Due: build:next, eslint:next, test:next, deploy:next

More lint
  frontend/lib/calls.js
Due: build:next, eslint:next, test:next, deploy:next

linty
  frontend/lib/calls.js
Due: build:next, eslint:next, test:next, deploy:next

lintyy
  frontend/components/ConnectionMap.js
  frontend/components/HexagonMap.js
  frontend/components/IconWithConnectionMap.js
  frontend/components/Map.js
  frontend/lib/calls.js
Due: build:next, eslint:next, test:next, deploy:next
