Repository Jonathannsegal/GridAI: changes, and which GitLab CI jobs are due for each by the changed paths.
All: build:next, mypy:api, mypy:influx, mypy:neo4j, mypy:anomaly, mypy:assistant, mypy:prediction, flake8:api, flake8:influx, flake8:neo4j, flake8:anomaly, flake8:assistant, flake8:prediction, eslint:next, pylint:api, pylint:influx, pylint:neo4j, pylint:anomaly, pylint:assistant, pylint:prediction, isort:api, isort:influx, isort:neo4j, isort:anomaly, isort:assistant, isort:prediction, safety, test:next, test:api, test:influx, test:neo4j, test:anomaly, test:assistant, test:prediction, deploy:next, deploy:api, deploy:influx, deploy:neo4j, deploy:anomaly, deploy:assistant, deploy:prediction

Path conditions:
  build:next: any of: frontend/**/*
  mypy:api: any of: api/**/*
  mypy:influx: any of: data/influx/**/*
  mypy:neo4j: any of: data/neo4j/**/*
  mypy:anomaly: any of: ml/anomaly/**/*
  mypy:assistant: any of: ml/assistant/**/*
  mypy:prediction: any of: ml/prediction/**/*
  flake8:api: any of: api/**/*
  flake8:influx: any of: data/influx/**/*
  flake8:neo4j: any of: data/neo4j/**/*
  flake8:anomaly: any of: ml/anomaly/**/*
  flake8:assistant: any of: ml/assistant/**/*
  flake8:prediction: any of: ml/prediction/**/*
  eslint:next: any of: frontend/**/*
  pylint:api: any of: api/**/*
  pylint:influx: any of: data/influx/**/*
  pylint:neo4j: any of: data/neo4j/**/*
  pylint:anomaly: any of: ml/anomaly/**/*
  pylint:assistant: any of: ml/assistant/**/*
  pylint:prediction: any of: ml/prediction/**/*
  isort:api: any of: api/**/*
  isort:influx: any of: data/influx/**/*
  isort:neo4j: any of: data/neo4j/**/*
  isort:anomaly: any of: ml/anomaly/**/*
  isort:assistant: any of: ml/assistant/**/*
  isort:prediction: any of: ml/prediction/**/*
  safety: any of: api/**/*, data/**/*, ml/**/*
  test:next: any of: frontend/**/*
  test:api: any of: api/**/*
  test:influx: any of: data/influx/**/*
  test:neo4j: any of: data/neo4j/**/*
  test:anomaly: any of: ml/anomaly/**/*
  test:assistant: any of: ml/assistant/**/*
  test:prediction: any of: ml/prediction/**/*
  deploy:next: any of: frontend/**/*
  deploy:api: any of: api/**/*
  deploy:influx: any of: data/influx/**/*
  deploy:neo4j: any of: data/neo4j/**/*
  deploy:anomaly: any of: ml/anomaly/**/*
  deploy:assistant: any of: ml/assistant/**/*
  deploy:prediction: any of: ml/prediction/**/*

lintyyy
  frontend/components/IconWithConnectionMap.js
  frontend/lib/calls.js
Due: build:next, eslint:next, test:next, deploy:next

lintyyyy
  frontend/lib/calls.js
Due: build:next, eslint:next, test:next, deploy:next

calls changes
  frontend/lib/calls.js
Due: build:next, eslint:next, test:next, deploy:next

hovermap changes
  frontend/components/HoverMap.js
Due: build:next, eslint:next, test:next, deploy:next

Basic connection map complete
  frontend/components/ConnectionMap.js
  frontend/lib/calls.js
Due: build:next, eslint:next, test:next, deploy:next

Icons and connection on same map yayyy
  frontend/components/IconWithConnectionMap.js
  frontend/pages/index.js
Due: build:next, eslint:next, test:next, deploy:next

Modularized map with request in calls.js
  frontend/components/ConnectionMap.js
  frontend/components/HoverMap.js
  frontend/components/Map.js
  frontend/lib/calls.js
Due: build:next, eslint:next, test:next, deploy:next

Hover, connections, and icon all on one map
  frontend/components/HoverMap.js
  frontend/components/IconWithConnectionMap.js
  frontend/lib/calls.js
Due: build:next, eslint:next, test:next, deploy:next

More lint
  frontend/lib/calls.js
Due: build:next, eslint:next, test:next, deploy:next

different color nodes
  frontend/lib/calls.js
Due: build:next, eslint:next, test:next, deploy:next

lintyy
  frontend/components/ConnectionMap.js
  frontend/components/HexagonMap.js
  frontend/components/IconWithConnectionMap.js
  frontend/components/Map.js
  frontend/lib/calls.js
Due: build:next, eslint:next, test:next, deploy:next

linty
  frontend/lib/calls.js
Due: build:next, eslint:next, test:next, deploy:next

Color palette and new hexagon page yaaas
  frontend/components/HexagonMap.js
  frontend/lib/calls.js
  frontend/pages/hexagon.js
Due: build:next, eslint:next, test:next, deploy:next

begin fixing lint issues
  frontend/lib/calls.js
Due: build:next, eslint:next, test:next, deploy:next

Hexagon map does number of buses
  frontend/components/HexagonMap.js
Due: build:next, eslint:next, test:next, deploy:next

Resolve "Use Neo4j Data in Map Visualization"
  frontend/components/ConnectionMap.js
  frontend/components/HexagonMap.js
  frontend/components/IconWithConnectionMap.js
  frontend/lib/calls.js
  frontend/pages/hexagon.js
Due: build:next, eslint:next, test:next, deploy:next

Update dockerfile
  frontend/Dockerfile
Due: build:next, eslint:next, test:next, deploy:next

86
  data/influx/src/app.py
Due: mypy:influx, flake8:influx, pylint:influx, isort:influx, safety, test:influx, deploy:influx

Test data fix
  data/influx/src/app.py
Due: mypy:influx, flake8:influx, pylint:influx, isort:influx, safety, test:influx, deploy:influx

ignore indent eslint
  frontend/lib/calls.js
Due: build:next, eslint:next, test:next, deploy:next

Change for deployment
  frontend/components/HoverMap.js
  frontend/package-lock.json
Due: build:next, eslint:next, test:next, deploy:next

yarny
  frontend/yarn.lock
Due: build:next, eslint:next, test:next, deploy:next

hard code api url
  frontend/lib/calls.js
Due: build:next, eslint:next, test:next, deploy:next

fixing lint issues
  frontend/lib/calls.js
Due: build:next, eslint:next, test:next, deploy:next

single quotes r 4 lozers
  frontend/lib/calls.js
Due: build:next, eslint:next, test:next, deploy:next

no cors mode
  frontend/lib/calls.js
Due: build:next, eslint:next, test:next, deploy:next

eslint yourself
  frontend/lib/calls.js
Due: build:next, eslint:next, test:next, deploy:next

Resolve "Use Neo4j Data in Map Visualization"
  frontend/lib/calls.js
Due: build:next, eslint:next, test:next, deploy:next

88
  data/influx/src/app.py
Due: mypy:influx, flake8:influx, pylint:influx, isort:influx, safety, test:influx, deploy:influx

api no cors for getAllCoordinates
  api/main.go
Due: mypy:api, flake8:api, pylint:api, isort:api, safety, test:api, deploy:api

going back to when it worked locally
  frontend/lib/calls.js
Due: build:next, eslint:next, test:next, deploy:next

90
  .gitlab-ci.yml
  data/influx/src/app.py
Due: mypy:influx, flake8:influx, pylint:influx, isort:influx, safety, test:influx, deploy:influx

update
  assistant/src/app.py
Due: none

update
  assistant/src/app.py
  assistant/src/assistant_service.py
Due: none
