Repository Jonathannsegal/GridAI: changes, and which GitLab CI jobs are due for each by the changed paths.
All: build:next, mypy:influx, mypy:neo4j, mypy:anomaly, mypy:assistant, mypy:prediction, flake8:influx, flake8:neo4j, flake8:anomaly, flake8:assistant, flake8:prediction, eslint:next, pylint:influx, pylint:neo4j, pylint:anomaly, pylint:assistant, pylint:prediction, isort:influx, isort:neo4j, isort:anomaly, isort:assistant, isort:prediction, safety, test:influx, test:neo4j, test:anomaly, test:assistant, test:prediction, deploy:next, deploy:api, deploy:influx, deploy:neo4j, deploy:anomaly, deploy:assistant, deploy:prediction

build:next:
  stage: build
  needs: []
  image: node:latest
  script:
  - cd frontend/
  - yarn

mypy:influx:
  stage: analysis
  needs: []
  image: python:3.9
  before_script:
  - python --version
  - pip install -r data/influx/src/requirements.txt
  script:
  - python -m mypy data/influx/src/app.py

mypy:neo4j:
  stage: analysis
  needs: []
  image: python:3.9
  before_script:
  - python --version
  - pip install -r data/neo4j/src/requirements.txt
  script:
  - python -m mypy data/neo4j/src/app.py

mypy:anomaly:
  stage: analysis
  needs: []
  image: python:3.9
  before_script:
  - python --version
  - pip install -r ml/anomaly/src/requirements.txt
  script:
  - python -m mypy ml/anomaly/src/app.py

mypy:assistant:
  stage: analysis
  needs: []
  image: python:3.9
  before_script:
  - python --version
  - pip install -r assistant/src/requirements.txt
  script:
  - python -m mypy --install-types --non-interactive assistant/src/app.py

mypy:prediction:
  stage: analysis
  needs: []
  image: python:3.9
  before_script:
  - python --version
  - pip install -r ml/prediction/src/requirements.txt
  script:
  - python -m mypy ml/prediction/src/app.py

flake8:influx:
  stage: analysis
  needs: []
  image: python:3.9
  before_script:
  - python --version
  - pip install -r data/influx/src/requirements.txt
  script:
  - flake8 --max-line-length=120 --max-complexity 12 data/influx/src/*.py

flake8:neo4j:
  stage: analysis
  needs: []
  image: python:3.9
  before_script:
  - python --version
  - pip install -r data/neo4j/src/requirements.txt
  script:
  - flake8 --max-line-length=120 --max-complexity 8 data/neo4j/src/*.py

flake8:anomaly:
  stage: analysis
  needs: []
  image: python:3.9
  before_script:
  - python --version
  - pip install -r ml/anomaly/src/requirements.txt
  script:
  - flake8 --max-line-length=120 --max-complexity 8 ml/anomaly/src/*.py

flake8:assistant:
  stage: analysis
  needs: []
  image: python:3.9
  before_script:
  - python --version
  - pip install -r assistant/src/requirements.txt
  script:
  - flake8 --max-line-length=120 --max-complexity 8 assistant/src/*.py

flake8:prediction:
  stage: analysis
  needs: []
  image: python:3.9
  before_script:
  - python --version
  - pip install -r ml/prediction/src/requirements.txt
  script:
  - flake8 --max-line-length=120 --max-complexity 8 ml/prediction/src/*.py

eslint:next:
  stage: lint
  needs: []
  image: node:latest
  script:
  - 'npm install eslint \
  
    eslint-config-airbnb \
  
    eslint-config-prettier \
  
    eslint-plugin-flowtype \
  
    eslint-plugin-import \
  
    eslint-plugin-jsx-a11y \
  
    eslint-plugin-prettier \
  
    eslint-plugin-react
  
    '
  ...

pylint:influx:
  stage: lint
  needs: []
  image: python:3.9
  before_script:
  - python --version
  - pip install -r data/influx/src/requirements.txt
  script:
  - pylint -d C0301 -d R0902 data/influx/src/*.py

update
  assistant/src/app.py
  assistant/src/assistant_service.py
Due: mypy:assistant, flake8:assistant, pylint:assistant, isort:assistant, test:assistant, deploy:assistant

Add handler function
  assistant/src/app.py
Due: mypy:assistant, flake8:assistant, pylint:assistant, isort:assistant, test:assistant, deploy:assistant

testing handler
  assistant/src/app.py
Due: mypy:assistant, flake8:assistant, pylint:assistant, isort:assistant, test:assistant, deploy:assistant

91 Generic Query
  data/influx/src/app.py
  data/influx/tests/test_influx.py
Due: mypy:influx, flake8:influx, pylint:influx, isort:influx, safety, test:influx, deploy:influx

92
  data/influx/src/app.py
  data/influx/src/requirements.txt
  data/influx/tests/test_influx.py
Due: mypy:influx, flake8:influx, pylint:influx, isort:influx, safety, test:influx, deploy:influx

added node type property and endpoints for some voice queries #87
  .gitlab-ci.yml
  data/neo4j/src/app.py
Due: mypy:neo4j, flake8:neo4j, pylint:neo4j, isort:neo4j, safety, test:neo4j, deploy:neo4j

Google actions
  assistant/src/app.py
  assistant/src/command_handler.py
  assistant/src/requirements.txt
  assistant/tests/test_assistant.py
  assistant/tests/test_command_handler.py
  data/influx/src/app.py
  data/neo4j/src/app.py
  data/neo4j/tests/test_neo4j.py
Due: mypy:influx, mypy:neo4j, mypy:assistant, flake8:influx, flake8:neo4j, flake8:assistant, pylint:influx, pylint:neo4j, pylint:assistant, isort:influx, isort:neo4j, isort:assistant, safety, test:influx, test:neo4j, test:assistant, deploy:influx, deploy:neo4j, deploy:assistant

Google actions
  data/influx/src/app.py
  data/neo4j/tests/test_neo4j.py
Due: mypy:influx, mypy:neo4j, flake8:influx, flake8:neo4j, pylint:influx, pylint:neo4j, isort:influx, isort:neo4j, safety, test:influx, test:neo4j, deploy:influx, deploy:neo4j

Google actions
  api/main.go
Due: deploy:api

Update api/main.go
  api/main.go
Due: deploy:api

add Action
  assistant/src/actions.json
  assistant/src/custom_commands/types.json
Due: mypy:assistant, flake8:assistant, pylint:assistant, isort:assistant, test:assistant, deploy:assistant

update
  frontend/.DS_Store
  frontend/components/voice.js
  frontend/components/voice3.js
  frontend/lib/calls.js
  frontend/next.config.js
  frontend/package.json
  frontend/pages/voice.js
  frontend/styles/globals.css
  frontend/yarn.lock
Due: build:next, eslint:next, deploy:next

Resolve "Fix influx endpoint"
  data/influx/src/app.py
Due: mypy:influx, flake8:influx, pylint:influx, isort:influx, safety, test:influx, deploy:influx

Resolve "Fix influx endpoint"
  api/main.go
  data/influx/src/app.py
Due: mypy:influx, flake8:influx, pylint:influx, isort:influx, safety, test:influx, deploy:api, deploy:influx

fixed
  data/influx/src/app.py
Due: mypy:influx, flake8:influx, pylint:influx, isort:influx, safety, test:influx, deploy:influx

Resolve "Update hexagon map"
  api/main.go
  frontend/components/HexagonMap.js
  frontend/lib/calls.js
Due: build:next, eslint:next, deploy:next, deploy:api

frontend deploy
  frontend/components/HexagonMap.js
  frontend/package-lock.json
  frontend/yarn.lock
Due: build:next, eslint:next, deploy:next

pls deploy
  frontend/package-lock.json
  frontend/yarn.lock
Due: build:next, eslint:next, deploy:next

yarn
  frontend/yarn.lock
Due: build:next, eslint:next, deploy:next

two new lock files
  frontend/package-lock.json
  frontend/yarn.lock
Due: build:next, eslint:next, deploy:next

99
  data/influx/src/app.py
  data/influx/tests/test_influx.py
Due: mypy:influx, flake8:influx, pylint:influx, isort:influx, safety, test:influx, deploy:influx

Documentation for Assistant
  .gitignore
  assistant/README.md
  assistant/src/actions.json
  assistant/src/app.py
  assistant/src/assistant_service.py
  assistant/src/command_handler.py
  assistant/src/create_actions_json.py
  assistant/src/requirements.txt
  assistant/src/speech_to_text.py
Due: mypy:assistant, flake8:assistant, pylint:assistant, isort:assistant, test:assistant, deploy:assistant

Documentation merge
  assistant/README.md
  assistant/src/assistant_service.py
  assistant/src/command_handler.py
  assistant/tests/test_assistant.py
Due: mypy:assistant, flake8:assistant, pylint:assistant, isort:assistant, test:assistant, deploy:assistant

remove voice
  frontend/components/voice.js
  frontend/components/voice3.js
  frontend/pages/voice.js
Due: build:next, eslint:next, deploy:next

101 add generated power
  data/influx/src/app.py
  data/influx/tests/test_influx.py
Due: mypy:influx, flake8:influx, pylint:influx, isort:influx, safety, test:influx, deploy:influx

Resolve "generated data"
  api/main.go
  frontend/components/ConsumptionHexagonMap.js
  frontend/components/GenerationHexagonMap.js
  frontend/components/Navbar.js
  frontend/lib/calls.js
  frontend/pages/consumption.js
  frontend/pages/generation.js
  frontend/pages/hexagon.js
  frontend/styles/globals.css
Due: build:next, eslint:next, deploy:next, deploy:api

fix pipeline
  frontend/next.config.js
Due: build:next, eslint:next, deploy:next

map sizes better
  frontend/pages/consumption.js
  frontend/pages/generation.js
  frontend/pages/index.js
Due: build:next, eslint:next, deploy:next

Run Pipeline
  .gitlab-ci.yml
  api/README.md
  assistant/README.md
  assistant/tests/test_assistant.py
  data/influx/README.md
  data/neo4j/README.md
  frontend/README.md
  ml/anomaly/README.md
  ml/prediction/README.md
Due: build:next, mypy:influx, mypy:neo4j, mypy:anomaly, mypy:assistant, mypy:prediction, flake8:influx, flake8:neo4j, flake8:anomaly, flake8:assistant, flake8:prediction, eslint:next, pylint:influx, pylint:neo4j, pylint:anomaly, pylint:assistant, pylint:prediction, isort:influx, isort:neo4j, isort:anomaly, isort:assistant, isort:prediction, safety, test:influx, test:neo4j, test:anomaly, test:assistant, test:prediction, deploy:next, deploy:api, deploy:influx, deploy:neo4j, deploy:anomaly, deploy:assistant, deploy:prediction

Bigger is alwase better
  frontend/components/IconWithConnectionMap.js
  frontend/pages/index.js
Due: build:next, eslint:next, deploy:next

Add assist doc
  assistant/README.md
  assistant/client_secret/README.md
  assistant/client_secret/client_secret_672972911364-gdaunu2a47t0hmfbn11ec1rsumr1i05c.apps.googleusercontent.com.json
  assistant/client_secret/speechtotext-331119-820cdd23000d.json
Due: mypy:assistant, flake8:assistant, pylint:assistant, isort:assistant, test:assistant, deploy:assistant

Update README.md
  README.md
Due: none

ci: remove daily schedule from gitleaks workflow
  .github/workflows/gitleaks.yml
Due: none

improve readme
  README.md
Due: none

Fix repository setup documentation
  README.md
Due: none

Resolve dependency security backlog
  assistant/src/requirements.txt
  data/influx/src/requirements.txt
  frontend/.eslintrc.js
  frontend/components/ChatWidget.js
  frontend/lib/firebase.js
  frontend/next.config.js
  frontend/package-lock.json
  frontend/package.json
  frontend/yarn.lock
  ml/anomaly/src/requirements.txt
  ml/prediction/src/requirements.txt
Due: build:next, mypy:influx, mypy:anomaly, mypy:assistant, mypy:prediction, flake8:influx, flake8:anomaly, flake8:assistant, flake8:prediction, eslint:next, pylint:influx, pylint:anomaly, pylint:assistant, pylint:prediction, isort:influx, isort:anomaly, isort:assistant, isort:prediction, safety, test:influx, test:anomaly, test:assistant, test:prediction, deploy:next, deploy:influx, deploy:anomaly, deploy:assistant, deploy:prediction

Path conditions:
  build:next: any of: frontend/**/*
  mypy:influx: any of: data/influx/**/*
  mypy:neo4j: any of: data/neo4j/**/*
  mypy:anomaly: any of: ml/anomaly/**/*
  mypy:assistant: any of: assistant/**/*
  mypy:prediction: any of: ml/prediction/**/*
  flake8:influx: any of: data/influx/**/*
  flake8:neo4j: any of: data/neo4j/**/*
  flake8:anomaly: any of: ml/anomaly/**/*
  flake8:assistant: any of: assistant/**/*
  flake8:prediction: any of: ml/prediction/**/*
  eslint:next: any of: frontend/**/*
  pylint:influx: any of: data/influx/**/*
  pylint:neo4j: any of: data/neo4j/**/*
  pylint:anomaly: any of: ml/anomaly/**/*
  pylint:assistant: any of: assistant/**/*
  pylint:prediction: any of: ml/prediction/**/*
  isort:influx: any of: data/influx/**/*
  isort:neo4j: any of: data/neo4j/**/*
  isort:anomaly: any of: ml/anomaly/**/*
  isort:assistant: any of: assistant/**/*
  isort:prediction: any of: ml/prediction/**/*
  safety: any of: data/**/*, ml/**/*
  test:influx: any of: data/influx/**/*
  test:neo4j: any of: data/neo4j/**/*
  test:anomaly: any of: ml/anomaly/**/*
  test:assistant: any of: assistant/**/*
  test:prediction: any of: ml/prediction/**/*
  deploy:next: any of: frontend/**/*
  deploy:api: any of: api/**/*
  deploy:influx: any of: data/influx/**/*
  deploy:neo4j: any of: data/neo4j/**/*
  deploy:anomaly: any of: ml/anomaly/**/*
  deploy:assistant: any of: assistant/**/*
  deploy:prediction: any of: ml/prediction/**/*
